[submodule "includes/tlc-transients"]
	path = includes/tlc-transients
	url = https://github.com/markjaquith/WP-TLC-Transients.git
[submodule "includes/boilerplate"]
	path = includes/boilerplate
	url = https://github.com/benbalter/wordpress-plugin-boilerplate-classes
